.UserStats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  margin-right: 0;
  background-color: lightblue;
  width: 30%;
  height: 40%;
  margin: 9% auto 0 auto;
}