.WorkoutCompletion {
  display: flex;
  justify-content: space-around;
  background-color: lightblue;
  width: 250px;
  height: 100px;
  align-items: center;
  margin: 10% 1% auto ;
  border-radius: 10px;
}

.Num {
  font-size: 4em;
}