.Welcome {
  width: 900px;
  height: 400px;
  background-color: lightblue;
  margin-top: 3%;
  margin-left: 5%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Welcome p {
  font-size: 5em;
}